---
import Root from "@/layouts/Root.astro";
import Hero from "@/views/Hero.astro";
import About from "@/views/About.astro";
---

<script
  type="application/ld+json"
  is:inline
  set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "WebSite",
    mainEntityOfPage: {
      "@type": "ProfilePage",
      name: "Frankuxui",
      description: "Portafolio de Frankuxui, desarrollador front-end y diseñador UX/UI en Tarragona con más de 8 años de experiencia.",
      url: "https://frankuxui.com",
      image: "https://frankuxui.com/images/Opengraph_imagen_de_Frankuxui_desarrollador_frontend_en_Tarragona_Salou.png",
      publisher: {
        "@type": "Organization",
        name: "Frankuxui",
        logo: {
          "@type": "ImageObject",
          url: "https://frankuxui.com/logo.png",
        },
      },
    },
  })}
/>

<Root>
  <main class="min-h-screen pt-6 pb-20 3xl:pt-10">
    <Hero />
    <About />
  </main>
</Root>
