---
import Root from "@/layouts/Root.astro";
---

<Root title="Misión" description="Nuestra misión es proporcionar soluciones innovadoras y efectivas para nuestros clientes.">
  <section class="w-full pt-10 sm:pt-20">
    <header aria-labelledby="titulo-mision" class="w-full grid gap-6 max-w-6xl mx-auto px-10">
      <h1
        id="titulo-mision"
        class="font-medium text-xl motion-safe:animate-text-reveal"
        style={{
          "--hero-text-reveal-opacity-step-0": 1,
          "--hero-text-reveal-x-step-0": 0,
          "--hero-text-reveal-y-step-0": "0px",
          "--hero-text-reveal-opacity-step-1": 1,
          "--hero-text-reveal-x-step-1": 0,
          "--hero-text-reveal-y-step-1": "0px",
          "--hero-text-reveal-opacity-step-2": 1,
          "--hero-text-reveal-x-step-2": 0,
          "--hero-text-reveal-y-step-2": "0px",
          "--hero-text-reveal-opacity-step-3": 1,
          "--hero-text-reveal-x-step-3": 0,
          "--hero-text-reveal-y-step-3": "0px",
        }}
      >
        Misión y valores
      </h1>
      <p
        class="leading-9 text-2xl w-full max-w-4xl motion-safe:animate-text-reveal"
        style={{
          "--hero-text-reveal-opacity-step-0": 0,
          "--hero-text-reveal-x-step-0": 0,
          "--hero-text-reveal-y-step-0": "25px",
          "--hero-text-reveal-opacity-step-1": 1,
          "--hero-text-reveal-x-step-1": 0,
          "--hero-text-reveal-y-step-1": "0px",
          "--hero-text-reveal-opacity-step-2": 1,
          "--hero-text-reveal-x-step-2": 0,
          "--hero-text-reveal-y-step-2": "0px",
          "--hero-text-reveal-opacity-step-3": 1,
          "--hero-text-reveal-x-step-3": 0,
          "--hero-text-reveal-y-step-3": "0px",
        }}
      >
        Diseño experiencias digitales que lucen bien, funcionan mejor y hacen que usar una web sea pan comido &#40;con café, obvio ☕&#41;.
      </p>
    </header>
    <section aria-labelledby="valores-titulo" class="w-full py-20">
      <div class="w-full max-w-6xl mx-auto px-10">
        <header class="flex flex-col gap-4 text-left w-full max-w-4xl">
          <h2 id="valores-titulo" class="text-3xl font-semibold">Mis Principales Valores</h2>
          <p>
            Estos valores son mi brújula en cada proyecto. Me ayudan a crear productos digitales que no solo funcionan bien, sino que también se sienten bien: útiles, bonitos y
            pensados para quien los usa.
          </p>
        </header>
        <div class="columns-1 md:columns-2 xl:columns-3 gap-8 mt-10">
          <article
            role="region"
            aria-labelledby="valor-colaboracion"
            title="Foto creada por Jonathan Kemper"
            class="mb-8 relative break-after-all break-inside-avoid-column flex flex-col items-start gap-4 overflow-hidden rounded-2xl"
          >
            <header class="relative w-full min-h-0 max-h-full overflow-hidden">
              <div
                class="absolute z-1 w-full gap-2 h-full left-0 flex items-start flex-col justify-end p-6 sm:p-8 bg-gradient-to-t from-black via-black/20 text-white to-transparent"
              >
                <h3 id="valor-colaboracion" class="text-xl font-medium">Colaboración</h3>
                <p class="text-base">Creo en el poder de trabajar juntos. Impulso la comunicación abierta entre diseño, desarrollo y otros roles clave del producto.</p>
              </div>
              <img
                src="/photo-1622383563227-04401ab4e5ea.jpg"
                alt="Imagen de una persona sosteniendo planta verde en maceta negra"
                class="w-full max-h-full min-h-0 z-0 max-w-full object-contain"
                title="Foto creada por Jonathan Kemper"
                data-author-profile="https://unsplash.com/es/@jupp"
                loading="lazy"
              />
            </header>
          </article>

          <article
            role="region"
            aria-labelledby="valor-accesibilidad"
            title="Foto creada por Jonathan Kemper"
            class="mb-8 relative break-after-all break-inside-avoid-column flex flex-col items-start gap-4 overflow-hidden rounded-2xl"
          >
            <header class="relative w-full min-h-0 max-h-full overflow-hidden">
              <div
                class="absolute z-1 w-full gap-2 h-full left-0 flex items-start flex-col justify-end p-6 sm:p-8 bg-gradient-to-t from-black via-black/20 text-white to-transparent"
              >
                <h3 id="valor-accesibilidad" class="text-xl font-medium">Accesibilidad</h3>
                <p class="text-base">Diseñar para todos es una prioridad. Promuevo prácticas inclusivas que permiten a más personas interactuar sin barreras.</p>
              </div>
              <img
                src="/photo-1621459555843-9a77f1d03fae.jpg"
                alt="Imagen de una persona sosteniendo la planta de chile rojo"
                class="w-full max-h-full min-h-0 z-0 max-w-full object-contain"
                title="Foto creada por Jonathan Kemper"
                data-author-profile="https://unsplash.com/es/@jupp"
                loading="lazy"
              />
            </header>
          </article>

          <article
            role="region"
            aria-labelledby="valor-consistencia"
            title="Foto creada por Jonathan Kemper"
            class="mb-8 relative break-after-all break-inside-avoid-column flex flex-col items-start gap-4 overflow-hidden rounded-2xl"
          >
            <header class="relative w-full min-h-0 max-h-full overflow-hidden">
              <div
                class="absolute z-1 w-full gap-2 h-full left-0 flex items-start flex-col justify-end p-6 sm:p-8 bg-gradient-to-t from-black via-black/20 text-white to-transparent"
              >
                <h3 id="valor-consistencia" class="text-xl font-medium">Consistencia</h3>
                <p>Una experiencia coherente mejora la usabilidad. Trabajo para unificar estilos, componentes y patrones de interfaz.</p>
              </div>
              <img
                src="/photo-1621460248083-6271cc4437a8.jpg"
                alt="Imagen de una persona sosteniendo una pala de plástico verde regandando una planta"
                class="w-full max-h-full min-h-0 z-0 max-w-full object-contain"
                title="Foto creada por Jonathan Kemper"
                data-author-profile="https://unsplash.com/es/@jupp"
                loading="lazy"
              />
            </header>
          </article>

          <article
            role="region"
            aria-labelledby="valor-aprendizaje"
            title="Foto creada por Samantha Fortney"
            class="mb-8 relative break-after-all break-inside-avoid-column flex flex-col items-start gap-4 overflow-hidden rounded-2xl"
          >
            <header class="relative w-full min-h-0 max-h-full overflow-hidden">
              <div
                class="absolute z-1 w-full gap-2 h-full left-0 flex items-start flex-col justify-end p-6 sm:p-8 bg-gradient-to-t from-black via-black/20 text-white to-transparent"
              >
                <h3 id="valor-aprendizaje" class="text-xl font-medium">Aprendizaje continuo</h3>
                <p>La tecnología evoluciona rápido. Me esfuerzo por mantenerme actualizado y compartir conocimientos con la comunidad.</p>
              </div>
              <img
                src="/photo-1682207151074-f9a166597063.jpg"
                alt="Imagen de Un niño pequeño parado en medio de un campo"
                class="w-full max-h-full min-h-0 z-0 max-w-full object-contain"
                title="Foto creada por Samantha Fortney"
                data-author-profile="https://unsplash.com/es/@goldencoastgrams"
                loading="lazy"
              />
            </header>
          </article>

          <article
            role="region"
            aria-labelledby="valor-empatia"
            title="Foto creada por Markus Spiske"
            class="mb-8 relative break-after-all break-inside-avoid-column flex flex-col items-start gap-4 overflow-hidden rounded-2xl"
          >
            <header class="relative w-full min-h-0 max-h-full overflow-hidden">
              <div
                class="absolute z-1 w-full gap-2 h-full left-0 flex items-start flex-col justify-end p-6 sm:p-8 bg-gradient-to-t from-black via-black/20 text-white to-transparent"
              >
                <h3 id="valor-empatia" class="text-xl font-medium">Empatía</h3>
                <p>Escuchar y entender a los usuarios es clave. Diseño pensando en sus necesidades reales, contextos y emociones.</p>
              </div>
              <img
                src="/photo-1597916829826-02e5bb4a54e0.jpg"
                alt="Imagen de Un niño pequeño parado en medio de un campo"
                class="w-full max-h-full min-h-0 z-0 max-w-full object-contain"
                title="Foto creada por Markus Spiske"
                data-author-profile="https://unsplash.com/es/@markusspiske"
                loading="lazy"
              />
            </header>
          </article>

          <article
            role="region"
            aria-labelledby="valor-calidad"
            title="Foto creada por Markus Spiske"
            class="mb-8 relative break-after-all break-inside-avoid-column flex flex-col items-start gap-4 overflow-hidden rounded-2xl"
          >
            <header class="relative w-full min-h-0 max-h-full overflow-hidden">
              <div
                class="absolute z-1 w-full gap-2 h-full left-0 flex items-start flex-col justify-end p-6 sm:p-8 bg-gradient-to-t from-black via-black/20 text-white to-transparent"
              >
                <h3 id="valor-calidad" class="text-xl font-medium">Calidad</h3>
                <p>Me esfuerzo por entregar soluciones bien pensadas, con atención al detalle y alineadas con los objetivos del negocio.</p>
              </div>
              <img
                src="/photo-1559294824-90be3c97141e.jpg"
                alt="Imagen de Un niño pequeño parado en medio de un campo"
                class="w-full max-h-full min-h-0 z-0 max-w-full object-contain"
                title="Foto creada por Markus Spiske"
                data-author-profile="https://unsplash.com/es/@markusspiske"
                loading="lazy"
              />
            </header>
          </article>
        </div>
      </div>
    </section>
  </section>
</Root>
