---

---

<!-- <button type="button" data-cc="show-preferencesModal">Ajustar cookies</button> -->
<script>
  import { run } from "vanilla-cookieconsent";
  import { config } from "../config/cookieconsent-config";

  run(config);
</script>
