---
const pathname = Astro.url.pathname;
---

<div class="fixed top-0 left-0 w-full h-full hidden z-50" id="drawer-menu-wrapper">
  <div data-toggle="drawer-menu" class="absolute top-0 left-0 w-full h-full bg-black/80"></div>
  <div class="absolute bottom-0 w-full left-0 rounded-t-4xl overflow-hidden bg-background" id="drawer-menu-content">
    <div class="flex items-start flex-col w-full gap-4 overflow-hidden h-[28rem]">
      <header class="flex-none flex items-center justify-between w-full pt-8 px-10">
        <h2 class="text-xl font-semibold">Menu principal</h2>
        <button
          data-toggle="drawer-menu"
          class="flex items-center flex-none justify-center w-12 h-12 rounded-full cursor-pointer hover:bg-foreground/6 motion-safe:transition-all duration-200"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 16 16"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="M4.28 3.22a.75.75 0 0 0-1.06 1.06L6.94 8l-3.72 3.72a.75.75 0 1 0 1.06 1.06L8 9.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L9.06 8l3.72-3.72a.75.75 0 0 0-1.06-1.06L8 6.94z"
              clip-rule="evenodd"></path></svg
          >
        </button>
      </header>
      <section class="overflow-auto w-full">
        <ul>
          <li class="w-full block">
            <a
              data-toggle="drawer-menu"
              href="/"
              class="text-left text-lg font-semibold py-4 px-10 flex items-center justify-between"
              class:list={[pathname === "/" ? "bg-foreground/5" : ""]}
              data-active={pathname === "/"}
            >
              <span>Inicio</span>
              {
                pathname === "/" ? (
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 12l4.243 4.243l8.484-8.486" />
                  </svg>
                ) : null
              }
            </a>
          </li>
          <li class="w-full block">
            <a
              data-toggle="drawer-menu"
              href="/sobre-mi"
              class="text-left text-lg font-semibold py-4 px-10 flex items-center justify-between"
              class:list={[pathname === "/sobre-mi" ? "bg-foreground/5" : ""]}
              data-active={pathname === "/sobre-mi"}
            >
              <span>Sobre mi</span>
              {
                pathname === "/sobre-mi" ? (
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 12l4.243 4.243l8.484-8.486" />
                  </svg>
                ) : null
              }
            </a>
          </li>
          <li class="w-full block">
            <a
              data-toggle="drawer-menu"
              href="/proyectos"
              class="text-left text-lg font-semibold py-4 px-10 flex items-center justify-between"
              class:list={[pathname === "/proyectos" ? "bg-foreground/5" : ""]}
              data-active={pathname === "/proyectos" ? "true" : "false"}
            >
              <span>Proyectos</span>
              {
                pathname === "/proyectos" ? (
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 12l4.243 4.243l8.484-8.486" />
                  </svg>
                ) : null
              }
            </a>
          </li>
          <li class="w-full block">
            <a
              data-toggle="drawer-menu"
              href="/blog"
              class="text-left text-lg font-semibold py-4 px-10 flex items-center justify-between"
              class:list={[pathname === "/blog" ? "bg-foreground/5" : ""]}
              data-active={pathname === "/blog"}
            >
              <span>Blog</span>
              {
                pathname === "/blog" ? (
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 12l4.243 4.243l8.484-8.486" />
                  </svg>
                ) : null
              }
            </a>
          </li>
          <li class="w-full block">
            <a
              data-toggle="drawer-menu"
              href="/mision"
              class="text-left text-lg font-semibold py-4 px-10 flex items-center justify-between"
              class:list={[pathname === "/mision" ? "bg-foreground/5" : ""]}
              data-active={pathname === "/mision"}
            >
              <span>Misión</span>
              {
                pathname === "/mision" ? (
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 12l4.243 4.243l8.484-8.486" />
                  </svg>
                ) : null
              }
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>

<script>
  import { Drawer } from "../scripts/drawer.ts";

  document.addEventListener("DOMContentLoaded", () => {
    const drawerMenuMobile = new Drawer({
      trigger: "[data-toggle='drawer-menu']",
      wrapper: "#drawer-menu-wrapper",
      content: "#drawer-menu-content",
      orientation: "bottom",
    });
    drawerMenuMobile.on("open", () => {
      document.body.classList.add("overflow-hidden");
      document.body.classList.add("drawer-menu-open");
    });
    drawerMenuMobile.on("close", () => {
      document.body.classList.remove("overflow-hidden");
      document.body.classList.remove("drawer-menu-open");
    });
    drawerMenuMobile.init();
  });
</script>
