<div class="fixed top-0 left-0 w-full h-full hidden z-50" id="drawer-menu-wrapper">
  <div data-toggle="drawer-menu" class="absolute top-0 left-0 w-full h-full bg-black/80"></div>
  <div class="absolute bottom-0 w-full left-0 rounded-t-4xl p-8 overflow-hidden bg-background" id="drawer-menu-content">
    <div class="flex items-start flex-col w-full gap-8 overflow-hidden h-[26rem]">
      <header class="flex-none flex items-center justify-between w-full">
        <h2 class="text-xl font-semibold">Menu principal</h2>
        <button
          data-toggle="drawer-menu"
          class="flex items-center flex-none justify-center w-12 h-12 rounded-full cursor-pointer hover:bg-foreground/6 motion-safe:transition-all duration-200"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 16 16"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="M4.28 3.22a.75.75 0 0 0-1.06 1.06L6.94 8l-3.72 3.72a.75.75 0 1 0 1.06 1.06L8 9.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L9.06 8l3.72-3.72a.75.75 0 0 0-1.06-1.06L8 6.94z"
              clip-rule="evenodd"></path></svg
          >
        </button>
      </header>
      <section class="overflow-auto w-full">
        <ul>
          <li class="w-full block">
            <a data-toggle="drawer-menu" href="/" class="block text-left text-lg font-semibold py-4">Inicio</a>
          </li>
          <li class="w-full block">
            <a data-toggle="drawer-menu" href="/sobre-mi" class="block text-left text-lg font-semibold py-4">Sobre mi</a>
          </li>
          <li class="w-full block">
            <a data-toggle="drawer-menu" href="/proyectos" class="block text-left text-lg font-semibold py-4">Proyectos</a>
          </li>
          <li class="w-full block">
            <a data-toggle="drawer-menu" href="/blog" class="block text-left text-lg font-semibold py-4">Blog</a>
          </li>
          <li class="w-full block">
            <a data-toggle="drawer-menu" href="/mision" class="block text-left text-lg font-semibold py-4">Misión</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>

<script>
  import { Drawer } from "../scripts/drawer.ts";

  document.addEventListener("DOMContentLoaded", () => {
    const drawerMenuMobile = new Drawer({
      trigger: "[data-toggle='drawer-menu']",
      wrapper: "#drawer-menu-wrapper",
      content: "#drawer-menu-content",
      orientation: "bottom",
    });
    drawerMenuMobile.on("open", () => {
      document.body.classList.add("overflow-hidden");
      document.body.classList.add("drawer-menu-open");
    });
    drawerMenuMobile.on("close", () => {
      document.body.classList.remove("overflow-hidden");
      document.body.classList.remove("drawer-menu-open");
    });
    drawerMenuMobile.init();
  });
</script>
