---
import Root from "@/layouts/Root.astro";
---

<Root transition:name="page-projects" transition:animate="fade">
  <div class="w-full max-w-7xl mx-auto px-10">
    <header class="w-full grid gap-6 pt-10 sm:pt-20">
      <h1>Proyectos</h1>
    </header>
  </div>
</Root>
